div{
    width: 200px;
    height: 40px;
    background-color: aquamarine;
    transition-property: all;
    transition-duration: 5s;
    transition-delay: 1s;
    transition-timing-function: revert-layer;
}
div:hover{
    width: 1400px;
    background-color: blueviolet;
}