div{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    animation-name: example;
    animation-duration: 5s;
    animation-delay: 2s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
}
@keyframes example{
    from {top:0px;}
    to{top:200px;background-color: blueviolet;}
}