div{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    animation-name: example;
    animation-duration: 5s;
    animation-delay: 2s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}
@keyframes example{
    0%{
        background-color: blueviolet;
        top:0px;
        left:0px;
    }
    25% {
        background-color: brown;
        top:0px;
        left:300px;
    }
    50% {
        background-color: rgb(19, 56, 201);
        top:300px;
        left:300px;
    }
    75% {
        background-color: rgb(27, 218, 6);
        top:300px;
        left:0px;
    }
    100% {
        background-color: rgb(230, 255, 5);
        top:0px;
        left:0px;
    }
}