div{
    width: 150px;
    height: 150px;
    background-color: rgb(2, 77, 77);
    animation-name: example;
    animation-duration: 4s;
}
/* @keyframes example {
    from{background-color: aqua;}
    to {background-color: red;}
    
} */

@keyframes example{
    0% {background-color:red;}
    25% {background-color: rgb(255, 174, 0);}
    50% {background-color: rgb(0, 255, 98);}
    100% {background-color: rgb(82, 5, 247);}
}